<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sonrisas Inclusivas - Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../templates/index.html">Clínica Sonrisas Inclusivas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../templates/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/contactanos.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/login.html">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>



    <header class="header-pagina">
        <h1>Clínica odontológica<br><span class="palabras-importantes">Sonrisas Inclusivas</span></h1>
        <p></p>
    </header>

    <div class="contenedor-info">

        <h2>Nuestra historia</h2>
        <p>Desde 2024, la clínica odontológica <strong>Sonrisas Inclusivas</strong> ha sido un faro de salud dental y bienestar en nuestra comunidad. Con una pasión inquebrantable por la excelencia y la inclusión, nos hemos comprometido a proporcionar atención dental de la más alta calidad en un ambiente acogedor y accesible para todos.</p>
        <img src="../img/nuestrahistoria.webp" alt="Nuestra historia">

        <h2>Atención personalizada</h2>
        <p>En nuestra clínica, creemos firmemente en la importancia de la atención personalizada. Cada paciente es único, y nos dedicamos a asegurar que su experiencia sea lo más cómoda y satisfactoria posible. Desde el primer contacto hasta el final del tratamiento, nuestro equipo profesional está aquí para guiar y apoyar en cada paso del camino.</p>
        <img src="../img/atencionpersonalizada.webp" alt="Atención Personalizada">

        <h2>Nuestro equipo</h2>
        <p>Nuestro equipo de expertos dentales está compuesto por profesionales altamente calificados y dedicados que están comprometidos con la excelencia en cada aspecto de su trabajo. Nos enorgullece mantenernos al día con las últimas tecnologías y técnicas en odontología, asegurando así los mejores resultados para nuestros pacientes.</p>
        <img src="../img/nuestroequipo.webp" alt="Nuestro Equipo">





    </div>
    <footer class="footer-pagina">
        <p>© 2024 Clínica odontológica <span class="palabras-importantes">Sonrisas Inclusivas</span> | Todos los derechos reservados.</p>
    </footer>









    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
