<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas Proyecto</title>
    <link rel="stylesheet" href="../styles/prueba.css">
</head>
<body>
    <h1>Documento para hacer pruebas</h1>
    <p>Hagan lo que quieran, sean... <strong>LIBRES</strong></p>

    <div class="uso-de-clases">
        <h1>Hola, soy el div padre</h1>
        <p>Yo soy... TU PADRE!!!!</p>
        <div class="uso-de-clases2">
            <h1>Hijo 2</h1>
            <p>Hola, soy el hijo del div padre, estamos en un documento llamado pruebas.html</p>
            <div class="uso-de-clases3">
                <h1>Hijo 3</h1>
                <p>Hola, soy el tercer hijo del div padre y el div hijo2</p>
            </div>
        </div>
    </div>    
</body>
</html>