.body {
    background-color: #f9f2f2;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

.header-pagina {
    text-align: center;
    padding: 4px;
    background-color: #4baced;
    color: #000000;
    margin-bottom: 5px;
}

.footer-pagina {
    text-align: center;
    padding: 25px;
    background: #4baced;
    color: #000000;
    margin-top: 10px;
}

.palabras-importantes {
    font-weight: bold;
}

.contenedor-info {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.contenedor-info h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.contenedor-info p {
    text-align: justify;
}

.contenedor-info img {
    margin: 0 auto; 
    width: 100%;
    margin-bottom: 40px; 
    height: auto;
    display: block; 
}

.principal {
    color: #76b2ee;
}

.navbar-nav .nav-link {
    color: #439bd5 !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #439bd5 !important;
}